body{
background-color: black;
color: rgb(207, 32, 32);
font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
width: 100;
height: 100;
}

body {
    font-family: Arial, Helvetica, sans-serif, ;
    background-color: #000000;
    padding: 40px;
  }

  h1 {
    text-align: center;
    color: #ff0000;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }

  .card {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(182, 3, 3, 0.589);
    padding: 20px;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .cliente {
    font-weight: bold;
    margin-bottom: 10px;
    color: #d10000;
  }

  .opinion {
    font-size: 15px;
    color: #a00000;
  }

  .rating {
    margin-top: 10px;
    color: #f39c12;
  }
  h5{
    color: #000000;
    font-size: 20px;
  }

.p1{
color: #000000;
font-size: 15px;
}

.p2{
  color: #000000;
  font-size: 15px;
  }
  

  .p3{
    color: #000000;
    font-size: 15px;
    }
    .p {
color: #f80000;
font-size: 24px;
 }